<script id="noticeTemp" type="text/x-kendo-template">
    <div id="noticeTabStripPage">
        <ul>
            <li id="notificationTabPage"><i class="fas fa-volume-up"></i>通知</li>
            <li id="updatingTabPage"><i class="fas fa-user-clock"></i>动态</li>
            <li id="toDoTabPage"><i class="fas fa-calendar-check"></i>待办</li>
        </ul>
        <div>
            <div id="systemNotificationPage"></div>
        </div>
        <div>
            <div id="userUpdatingPage"></div>
        </div>
        <div>
            <div id="toDoItemsPage"></div>
        </div>
    </div>
</script>